<%= form_with(model: retail_order, local: true) do |form| %>
  <% if retail_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retail_order.errors.count, "error") %> prohibited this retail_order from being saved:</h2>

      <ul>
      <% retail_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Ship To</th>
        <th>Ship Date</th>
        <th>Purchase Order</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @retail_order.customer %></td>
        <td><%= @retail_order.shipto %></td>
        <% if Time.current.tomorrow.strftime('%Y-%m-%d') == retail_order.date_required.strftime('%Y-%m-%d') %>
          <td><%= display_date(@retail_order.date_required) %></td>
        <% else %>
          <td class="blinking"><%= display_date(@retail_order.date_required) %></td>
        <% end %>
        <td><%= @retail_order.po_number %></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @retail_order.notes %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>New part</th>
        <th>Description</th>
        <th>UOM</th>
        <th>Qty</th>
        <th>Back order?</th>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :retail_order_parts do |p| %>
      <tr>
        <td><%= p.text_field :partcode, readonly: true, :style => "width:8em" %></td>
        <td><%= p.text_field :partdesc, readonly: true, :style => "width:30em" %></td>
        <td><%= p.text_field :uom, readonly: true, :style => "width:2.5em" %></td>
        <td><%= p.number_field :qty, readonly: true, :style => "width:2.5em" %></td>
        <td><%= p.check_box :back_order %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= form.label :reject_reason, "E21 Rejection Reason", :id => 'reject_lable' %>
    <%= form.select :reject_reason, @reject_reasons, {:include_blank => true}, {:onchange => "setReject()", id: :retail_order_reject_reason} %>
  </div>
  <div>
    <%= form.label :order_num, "Order Number", :id => 'order_lable' %>
    <%= form.text_field :order_num, {id: "retail_order_order_num", :oninput=> ("setQuit()"), :size=>"7", :maxlength => "7"} %>
  </div>
  <div class="actions">
    <%= form.submit "Submit", :id => 'Scomit', :style => "display: none;" %>
  </div>
<% end %>
