<p id="notice"><%= notice %></p>

<% if @retail_orders.length == 0 %>
  <h2 id="message">There are no outstanding orders</h2>
<% elsif @retail_orders.length == 1 %>
  <h2 id="message">There is one outstanding order</h2>
<% else %>
  <h2 id="message">There are <%= @retail_orders.length.to_s %> outstanding orders</h2>
<% end %>

<% if @retail_orders.length == 0 %>
  <table id="customers" class="stripe" class="mytable" class="display" cellspacing="0" style="display: none" >
<% else %>
  <table id="customers" class="stripe" class="mytable" class="display" cellspacing="0" style="display: inline" >
<% end %>
  <thead>
    <tr>
      <th>Rep</th>
      <th>Customer</th>
      <th>Ship to</th>
      <th>Time entered</th>
      <th>Date required</th>
      <th>Cut off time</th>
    </tr>
  </thead>

  <tbody id="orderbody">
    <% @retail_orders.each do |retail_order| %>
      <tr>
        <td><%= display_name(retail_order.rep) %></td>
        <td><%= retail_order.customer %></td>
        <td><%= retail_order.shipto %></td>
        <td><%= display_time(retail_order.created_at) %></td>
        <td><%= display_date(retail_order.date_required) %></td>
        <td><%= retail_order.cut_off %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Next', retail_orders_find_path, class: "btn btn-primary" %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
